.paragraph {
  font-size: 22px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;

  @media screen and (max-device-width: 768px) {
    font-size: 20px;
    margin-top: 10px;
  }
}
