.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  max-width: 70vw;
  padding: 20px;
  margin: auto;
  height: 100vh;

  @media screen and (max-device-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    max-width: 95vw;
    height: initial;
  }
}
