.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100vh;
  padding: 20px;

  @media screen and (max-device-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
}
